
.App{
    background-color: #0F1923; 
  
}

.App__nav {
    background-color: #0F1923;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.App__img{
    display: flex;
    margin: 0;
    padding: 10px;
    width: 3%;
}
.App__LinkGroup{
    padding: 0;
    margin: 0;
    display: flex;
}
.Carrousel{
    display: flex;
    flex-direction: row;
}
.App__Section{
margin-left: 60px;
margin-right: 60px;

}
.principal{
    background-image:
    linear-gradient(to bottom, rgba(31, 31, 37, 0.8), rgba(5, 2, 15, 0.9)),
    url('../images/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    color: white; 
    min-height: 1000px;
}
.championlist__cont{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.App__title{
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
}

.championlist__cont h1{
margin: 16px;
padding: 0;
font-family: 'Zen Old Mincho';
font-weight: bolder;
font-size: 46px;
}
 
.App__imgt{
width: 40px;
height: auto;
}
.champlist__container{
    justify-content: center;
    padding: 0;
  margin-left: 100px;
  margin-right: 100px;

  list-style: none;
 
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
 
   
}
.App__line{
    height: 20px;
}
.championForm__container{
    display: flex;
justify-content: center;
    

}
footer{

    background-color: #0F1923;
    display: flex;
    justify-content: center;
}
.footer__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 200px;

}
