.ChampionForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba( 255,255, 255, 0.1); /* transparent white */
    color:white;
   
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
  

    border: 1px solid rgb(255, 255, 255); 

}

.ChampionForm label {
    display: inline;
    margin-bottom: 20px;
}
.ChampionForm input {
    display: flex;
}
.ChampionForm__error{
    color: red;
}

/* CSS */
.formButton {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Zen Old Mincho, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.formButton:active,
.formButton:hover {
  outline: 0;
}

.formButton span {
  background-color: rgb(5, 6, 45);
  padding: 7px 14px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.formButton:hover span {
  background: none;
}

@media (min-width: 768px) {
  .formButton {
    font-size: 24px;
    min-width: 196px;
  }
}

